/* Styles for screens larger than 1200px */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Styles for screens between 900px and 1199px */
@media (min-width: 900px) and (max-width: 1199px) {
    body {
        font-size: 16px;
    }
}

/* Styles for screens smaller than 900px */
@media (max-width: 899px) {
    body {
        font-size: 14px;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffeb3b;
    text-align: center;
    margin: 0;
    font-family: 'Jacquard 24', sans-serif;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    margin-bottom: 0px;
}

#countdown {
    font-size: 0.4em;
    margin-top: 0px;
    visibility: hidden;
}

img {
    width: 500px;
    padding-top: 400px;
}

.container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 2em;
}



.italianText {
    font-size: 0.5em;
    padding-top: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffeb3b;
    text-align: center;
    padding: 10px;
}